<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833207166671-7aff1bocirk47ikgfp6ps9m3kc0hs9um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833207166671-7aff1bocirk47ikgfp6ps9m3kc0hs9um</string>
	<key>API_KEY</key>
	<string>AIzaSyCDCTUZ3lu_58VADIKYoYIUXCRPuzMRtWY</string>
	<key>GCM_SENDER_ID</key>
	<string>833207166671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>icce.fastingApp</string>
	<key>PROJECT_ID</key>
	<string>fastingapp-f8491</string>
	<key>STORAGE_BUCKET</key>
	<string>fastingapp-f8491.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833207166671:ios:177d5dbe63cb94d08f39ba</string>
</dict>
</plist>